.bottomBlock {
  display: flex;
  flex-direction: row;
  height: 759px;
  margin: 21px 0 0 0;

  .leftPanel {
    display: flex;
    flex-direction: column;
    margin-left: 211px;

    .title {
      margin: 186px 0 0 0;
      height: 25px;
      color: #171717;
      font-family: 'Geometria-Medium', sans-serif;
      font-size: 20px;
      letter-spacing: -1.1px;
    }

    .description {
      height: 25px;
      color: #c5c9c3;
      font-family: 'Geometria-Medium', sans-serif;
      font-size: 20px;
      letter-spacing: -1.1px;
    }

    .title::first-line, .description::first-line {
      line-height: 0.8em;
    }

    .title:not(:first-child) {
      margin-top: 40px;
    }
  }

  .border {
    margin: 69px 0 0 18px;
    width: 15px;
    height: 621px;
  }


  .bottom {
    margin-left: 0;
    width: 759px;
    height: 759px;
  }

}


@font-face {
  font-family: 'Geometria-Medium';
  src: url('../../fonts/Geometria/Geometria-Medium.eot');
  src: local('Geometria Medium'), local('Geometria-Medium'),
  url('../../fonts/Geometria/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Geometria/Geometria-Medium.woff') format('woff'),
  url('../../fonts/Geometria/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}