.middleBlock {
  display: flex;
  flex-direction: row;
  min-height: 804px;
  overflow-x: hidden;
  margin: 172px 82px 0 82px;
  justify-content: center;

  .leftSquare {
    height: 402px;
    min-width: 501px;
    align-self: flex-end;
    z-index: 1;
    padding-right: 101px;
  }


  .prevIcon {
    width: 27px;
    min-height: 101px;
    color: #171717;
    font-size: 50px;
    margin: 85px auto 0 -95px;
  }

  .nextIcon {
    width: 27px;
    min-height: 101px;
    color: #171717;
    font-size: 50px;
    margin: 85px -95px 0 auto;
  }

  .carousel {
    width: 759px;
    height: 521px;
    margin-top: 142px;
    margin-left: -242px;
    margin-right: -242px;
    z-index: 15;
  }

  .rightSquare {
    background-color: #ebebeb;
    height: 402px;
    min-width: 502px;
    align-self: flex-start;
    z-index: 1;
  }
}
