.topBlock {
  margin-left: 211px;
  margin-top: 172px;
  display: flex;
  flex-direction: row;
  //justify-content: center;

  .leftPanel {
    display: flex;
    flex-direction: column;

    :not(:first-child) {
      margin-top: 57px;
    }

    .selected, .notSelected {
      height: 114px;
      width: 114px;
      opacity: 1;
      box-shadow: 0 3px 6px #c5c9c3;
    }

    .notSelected {
      opacity: 0.5;
    }
  }

  .selectedBig {
    height: 456px;
    width: 456px;
    margin-left: 37px;
  }

  .rightPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 38px;


    .title {
      height: 37px;
      margin: 0;
      font-family: 'Geometria-Bold', sans-serif;
      color: #171717;
      font-size: 30px;
      letter-spacing: -1.65px;
    }

    .parameters {

      .parameterLabel {
        height: 28px;
        margin: 17px 0 0 0;
        color: #171717;
        letter-spacing: -1.1px;
        font-size: 20px;
        font-family: 'Geometria', sans-serif;
      }

      .parameterValue {
        height: 25px;
        margin-left: 20px;
        color: #171717;
        font-family: 'Geometria-Bold', sans-serif;
        font-size: 20px;
        letter-spacing: 2.2px;
      }
    }

    .colorsLabel {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 38px 0 0 0;
      color: #171717;
      letter-spacing: -1.1px;
      font-size: 20px;
      font-family: 'Geometria', sans-serif;

      .colors {
        margin-left: 20px;

        img:not(:first-child) {
          margin-left: 17px;
        }
        min-height: 30px;
        display: flex;
        align-items: center;

        .selectedColor{
          min-width: 26px;
          min-height: 26px;
        }

        .notSelectedColor{
          min-width: 20px;
          min-height: 20px;
        }
      }
    }


    .description {
      margin: 43px 0 0 0;
      height: 87px;
      width: 301px;
      color: #acacac;
      font-family: 'Geometria', sans-serif;
      font-size: 14px;
      letter-spacing: -0.77px;
    }

    .buy, .buy:active, .but:focus {
      width: 243px;
      height: 50px;
      background-color: #ebebeb;
      border-width: 0;
      color: #171717;

      outline: none;
      margin-top: 43px;
      .buyText{
        height: 15px;
        color: #171717;
        font-family: 'Geometria-Bold',sans-serif;
        font-size: 12px;
        letter-spacing: 1.32px;
      }
    }

    .share {
      display: flex;
      flex-direction: row;
      margin: 21px 0 0 0;
      align-items: center;

      .shareText {
        height: 17px;
        color: #acacac;
        font-family: 'Geometria-Medium', sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -0.77px;
        margin: 0;
      }

      .shareIcons {
        margin: 0 0 0 10px;
        display: flex;
        flex-direction: row;
        max-height: 16px;
        align-items: center;

        .shareIconVk {
          height: 10px;
          width: 16px;
        }

        .shareIconFacebook {
          height: 16px;
          width: 9px;
          margin-left: 14px;
        }

        .shareIconTwitter {
          height: 13px;
          width: 16px;
          margin-left: 14px;
        }


      }
    }
  }

}


@font-face {
  font-family: 'Geometria-Bold';
  src: url('../../fonts/Geometria/Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('../../fonts/Geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Geometria/Geometria-Bold.woff') format('woff'),
  url('../../fonts/Geometria/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../../fonts/Geometria/Geometria.eot');
  src: local('Geometria'),
  url('../../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Geometria/Geometria.woff') format('woff'),
  url('../../fonts/Geometria/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Medium';
  src: url('../../fonts/Geometria/Geometria-Medium.eot');
  src: local('Geometria Medium'), local('Geometria-Medium'),
  url('../../fonts/Geometria/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Geometria/Geometria-Medium.woff') format('woff'),
  url('../../fonts/Geometria/Geometria-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}