.container {
  display: flex;
  flex-direction: row;
}

.content {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo {
    position: absolute;
    top: 0;
    left: 5.69vw;
    min-width: 8.128vw;
    min-height: 8.128vw;
  }

  .errorStatus {
    margin: 9.677vh 0 0 0;
    width: 37.86vw;
    max-height: 30.645vh;
  }

  .emailForm {
    display: flex;
    justify-content: center;
    max-width: 35.56vw;
    margin: 9.6774vh 0 0 0;

    .animation2 {
      animation: submit2 1s forwards;
    }

    .emailInput, .animation2 {
      font-family: 'Geometria', sans-serif;
      text-indent: 20px;
      color: #171717;
      border: 1px solid #ebebeb;
      background-color: #ffffff;
      min-width: 26.524vw;
      height: 6.797vh;
      font-size: 0.962vw;
    }

    .emailInput::-webkit-input-placeholder, .animation2::-webkit-input-placeholder {
      font-family: 'Geometria', sans-serif;
      font-size: 0.962vw;
    }

    .emailInput::-moz-placeholder, .animation2::-moz-placeholder {
      font-family: 'Geometria', sans-serif;
      font-size: 0.962vw;
    }

    .animation {
      animation: submit 3s both;
    }

    .submitButton, .animation {
      text-align: center;
      background-color: #171717;
      padding: 0;
      border-width: 0;
      color: #ebebeb;
      font-family: 'Geometria-Bold', sans-serif;
      min-width: 8.128vw;
      height: 6.797vh;
      margin-left: 1.069vw;
      font-size: 0.65vw;

    }
  }
}


.footer {
  height: 32.558vh;
  width: 100%;
  background-color: #171717;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;

  .firstHeader {
    font-size: 3vw;
    letter-spacing: 0.343vw;
    align-self: center;
    color: #ffffff;
    font-family: 'Geometria-Bold', sans-serif;
    margin: 5.875vh 0 0 0;
    max-height: 8.525vh;
  }

  .secondHeader {
    align-self: center;
    color: #ffffff;
    font-family: 'Geometria', sans-serif;
    text-align: center;
    width: 54vw;
    max-height: 8.18vh;
    font-size: 1.5vw;
    margin: 4.03vh 0 0 0;
  }


  .socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    height: 1.2299vw;
    margin-top: -1.2299vw;
    padding-right: 3.2vw;

    img {
      width: 1.2299vw;
      height: 1.2299vw;
    }

    .vk {
      margin-left: 1.497vw;
    }
  }
}

@keyframes submit {
  from {
    margin-right: 0;
    margin-left: 1.069vw;
    max-width: 8.128vw;
  }
  17% {
    min-width: 8.128vw;
    margin-left: 0;
  }
  33% {
    min-width: 8.128vw;
    margin-right: 27.592vw;
  }
  50% {
    margin-right: 35.72vw;
    min-width: 0;
  }
  to {
    margin-left: 0;
    min-width: 35.56vw;
  }
}

@keyframes submit2 {
  from {
    width: 26.52vw;
    margin-right: 0;
  }
  to {
    visibility: hidden;
    max-width: 0;
    min-width: 0;
  }
}


@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria.eot');
  src: local('../fonts/Geometria/Geometria'),
  url('../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria/Geometria.woff') format('woff'),
  url('../fonts/Geometria/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../fonts/Geometria/Geometria-Bold.eot');
  src: local('../fonts/Geometria/Geometria Bold'), local('Geometria-Bold'),
  url('../fonts/Geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria/Geometria-Bold.woff') format('woff'),
  url('../fonts/Geometria/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Light';
  src: url('../fonts/Geometria/Geometria-Light.eot');
  src: local('Geometria Light'), local('Geometria-Light'),
  url('../fonts/Geometria/Geometria-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria/Geometria-Light.woff') format('woff'),
  url('../fonts/Geometria/Geometria-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
