.payment {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      color: #ebebeb;
      font-family: 'Geometria-Bold', sans-serif;
      font-size: 40px;
      letter-spacing: 4.4px;
      margin: 52px 0 0 250px;
    }

    .description {
      margin: 21px 0 0 0;
      color: #acacac;
      font-family: 'Geometria-Bold', sans-serif;
      font-size: 30px;
      letter-spacing: -1.65px;
    }

    .status {
      width: 324px;
      height: 60px;
      margin: 100px 0 0 0;
    }
  }

  .content {
    margin: 100px 0 0 0;

    .form {
      max-width: 501px;
      margin: 0 0 0 211px;
      padding: 0;

      .title {
        margin: 0;
        height: 25px;
        color: #171717;
        font-family: 'Geometria-Bold', sans-serif;
        font-size: 20px;
        letter-spacing: -1.1px;
      }

      .paymentMethod {
        display: flex;
        flex-direction: row;
        margin: 49px 0 0 0;

        .paymentType {
          padding: 0;
          border-width: 0;
          width: 247px;
          height: 120px;
          background-color: #ffffff;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .paymentType:focus, .focus {
          outline: none;
          border: 2px solid #ebebeb;
        }

      }


      .cardInfo {
        margin: 51px 0 0 0;
        height: 25px;
        color: #171717;
        font-family: 'Geometria-Bold', sans-serif;
        font-size: 20px;
        letter-spacing: -1.1px;
      }

      .formItem {
        margin: 27px 0 0 0;

        .formRow:not(:first-child) {
          margin: 17px 0 0 0;
        }

        .formRow:first-child {
          margin: 0;
        }

        .formRow {
          display: flex;
          flex-direction: row;

          .visa {
            margin: 0 0 0 15px;
            padding: 0;
            min-width: 116px;
            max-width: 116px;
            min-height: 48px;
            max-height: 48px;
            border: 1px solid #ebebeb;
            background-color: rgba(255, 255, 255, 0);
            display: flex;
            align-items: center;
            justify-content: center;
          }


          .formGroup {
            padding: 0;
            margin: 0;

            .formLabel {
              height: 12px;
              color: #171717;
              font-family: 'Geometria-Bold', sans-serif;
              font-size: 10px;
              letter-spacing: -0.55px;
              margin: 0 0 7px 0;
            }

            .formInput {
              max-width: 243px;
              height: 48px;
              border: 1px solid #ebebeb;
              border-radius: 0;
              background-color: #ffffff;
            }

            .formInputFull {
              max-width: 372px;
              height: 48px;
              border: 1px solid #ebebeb;
              border-radius: 0;
              background-color: #ffffff;
            }
          }
        }
      }
    }

    .order {
      padding: 0;
      margin-left: 209px;

      .address {
        display: flex;
        flex-direction: column;
        width: 436px;
        height: 215px;
        border: 1px solid #ebebeb;
        background-color: rgba(255, 255, 255, 0);

        .addressHeader {
          margin: 23px 0 0 140px;
          height: 25px;
          color: #171717;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 20px;
          letter-spacing: -1.1px;
        }

        .addressData {
          margin: 20px 0 0 64px;

          .addressRow:not(:first-child) {
            margin: 10px 0 0 0;
          }

          .addressRow:first-child {
            margin: 0;
          }

          .addressRow {
            .addressField {
              margin: 0;
              width: 114px;
              height: 17px;
              color: #171717;
              font-family: 'Geometria', sans-serif;
              font-size: 14px;
              letter-spacing: -0.77px;
            }

            .addressField:nth-child(2) {
              margin-left: 15px;
            }

            .addressFieldFull {
              margin: 0;
              width: 243px;
              height: 17px;
              color: #171717;
              font-family: 'Geometria', sans-serif;
              font-size: 14px;
              letter-spacing: -0.77px;
            }
          }
        }
      }

      .item {
        border: 1px solid #ebebeb;
        height: 106px;
        width: 436px;
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        .watch {
          margin: 20px 0 0 24px;
          height: 66px;
          width: 66px;
        }

        .modelDescription {
          margin-left: 50px;

          .model {
            margin: 30px 0 8px 0;
            width: 61px;
            height: 25px;
            color: #171717;
            font-family: 'Geometria-Bold', sans-serif;
            font-size: 20px;
            letter-spacing: -1.1px;
          }

          .modelSex {
            width: 90px;
            height: 17px;
            color: #acacac;
            font-family: 'Geometria', sans-serif;
            font-size: 14px;
            letter-spacing: -0.77px;
            margin-bottom: 26px;
          }
        }


        .price {
          margin: 41px 0 0 50px;
          height: 25px;
          color: #171717;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 20px;
          letter-spacing: -1.1px;
          text-transform: uppercase;
        }

      }

      .total {
        margin-top: 20px;
        width: 436px;
        height: 62px;
        display: flex;
        flex-direction: row;
        background-color: #ebebeb;

        .totalText {
          margin: 19px 0 0 140px;
          width: 53px;
          height: 25px;
          color: #171717;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 20px;
          letter-spacing: -1.1px;
        }

        .totalPrice {
          margin: 19px 0 0 91px;
          height: 25px;
          color: #171717;
          font-family: 'Geometria-Bold', sans-serif;
          font-size: 20px;
          letter-spacing: -1.1px;
          text-transform: uppercase;

        }
      }
    }
  }

  .btnRow {
    display: flex;
    flex-direction: row;
    margin: 40px 0 100px 82px;

    .back {
      width: 114px;
      height: 40px;
      border-width: 0;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;

      .arrowBack {
        margin: 0 0 0 28px;
        max-width: 4px;
        max-height: 8px;
      }

      .backText {
        margin: 0 0 0 7px;
        width: 43px;
        height: 12px;
        color: #acacac;
        font-family: 'Geometria-Bold', sans-serif;
        font-size: 10px;
        letter-spacing: 1.1px;
        line-height: 12px;
      }
    }

    .next {
      width: 243px;
      height: 40px;
      background-color: #ebebeb;
      padding: 0;
      text-align: left;
      border-width: 0;
      margin: 0 0 0 789px;

      .nextText {
        margin: 0 0 0 96px;
        width: 42px;
        height: 12px;
        color: #171717;
        font-family: 'Geometria-Bold', sans-serif;
        font-size: 10px;
        letter-spacing: 1.1px;
        line-height: 12px;
      }

      .arrowNext {
        margin: 0 0 0 5px;
        max-width: 4px;
        max-height: 8px;
      }
    }
  }
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url('../../../fonts/Geometria/Geometria-Bold.eot');
  src: local('Geometria Bold'), local('Geometria-Bold'),
  url('../../../fonts/Geometria/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Geometria/Geometria-Bold.woff') format('woff'),
  url('../../../fonts/Geometria/Geometria-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Geometria';
  src: url('../../../fonts/Geometria/Geometria.eot');
  src: local('Geometria'),
  url('../../../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../../../fonts/Geometria/Geometria.woff') format('woff'),
  url('../../../fonts/Geometria/Geometria.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}