.header {
  width: 100%;
  max-height: 100px;
  min-height: 100px;
  background-color: #ebebeb;
  display: flex;
  flex-direction: row;

  .search {
    position: absolute;
    padding-left: 16px;
    top: 100px;
    right: 83px;
    width: 501px;
    height: 48px;
    border: 1px solid #ebebeb;
  }

  .logo {
    height: 100px;
    width: 100px;
    margin-left: 89px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0 0 0 151px;

    :not(:nth-child(1)) {
      margin: 0 0 0 56px;
    }

    .menuItem {
      height: 17px;
      margin-top: 44px;

      a, a:focus, a:active,a:link {
        margin: 0;
        height: 17px;
        color: #171717;
        font-family: 'Geometria', sans-serif;
        font-size: 15px;
        letter-spacing: -0.82px;
        line-height: 12px;
        text-decoration: none;
      }

      @media only screen and (min-width: 1800px) {
        p {
          font-size: 17px;
        }
      }
    }
  }

  .icons {
    margin-left: auto;
    display: flex;

    :not(:last-child) {
      margin-right: 44px;
    }

    :last-child {
      margin-right: 83px;
    }

    img {
      width: 22px;
      height: 22px;
      margin: 39px 0 0 0;
    }

    @media only screen and (min-width: 1800px) {
      img {
        width: 25px;
        height: 25px;
      }
    }

  }
}


@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria/Geometria.eot');
  src: local('../fonts/Geometria/Geometria'),
  url('../fonts/Geometria/Geometria.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria/Geometria.woff') format('woff'),
  url('../fonts/Geometria/Geometria.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
